<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Server Monitor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
   <div class="container">
        <h2>Server Monitoring</h2>
        <div>Menu 1</div>
        <div>Menu 2</div>
        <div>
            <form action="/add" method="post">
                <label for="id" class="input-label">ID:</label>
                <input type="text" id="id" name="server_id" class="input-field-short" contenteditable="true">
                <label for="server" class="input-label">New Server IP:</label>
                <input type="text" id="server" name="server" class="input-field" contenteditable="true">
                <label for="description" class="input-label">Description:</label>
                <input type="text" id="description" name="description" class="input-field" contenteditable="true">
                <label for="port" class="input-label">Port:</label>
                <input type="text" id="port" name="port" class="input-field-short" contenteditable="true">
                <button type="submit" class="add-button">Add</button>
            </form>
        </div>
    </div>
    
    <div class="info-background">
        <p class="info-text" style="text-align: center;">
            <b>Enter</b> the server IP, ID, description, and port to add a new server to monitor.
            To <b>edit</b> the entries, simply click into Server, Description, or Port fields, make your changes & then update/save it.
        </p>
    </div>
    <div class="table-container">
        <table style="border-collapse: collapse; width: 100%; margin-top: 20px;">
            <tr>
                <th>ID</th>
                <th>Server</th>
                <th>Description</th>
                <th>Last Online</th>
                <th>Status</th>
                <th>Port</th>
                <th>Port Status</th>
                <th>Action</th>
            </tr>
            {% for item in server_list %}
            <tr id="{{ item[0] }}">
                <td>{{ item[0] }}</td>
                <td contenteditable="true">{{ item[1] }}</td>
                <td contenteditable="true">{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td class="{% if 'Online' in item[4] %}online{% elif 'Warning' in item[4] %}warning{% else %}offline{% endif %}">{{ item[4] }}</td>
                <td contenteditable="true">{{ item[5] }}</td>
                <td class="{% if 'Online' in item[6] %}online{% elif 'Warning' in item[6] %}warning{% else %}{% endif %}">{{item[6]}}</td>
                <td>
                    <a href="/remove?server={{ item[0] }}"><i class="fas fa-trash-alt"></i></a> |
                    <a href="#" onclick="updateElement('{{ item[0] }}')"><i class="fa-regular fa-floppy-disk"></i></a> | 
                    <a href="http://{{ item[1] }}:{{ item[5] }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>
