<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Server Monitor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_status_list.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
   <div class="container">
        <h2><a href="/">Server Monitoring</a></h2>
        <!--<div>Menu 1</div>
        <div>Menu 2</div>-->
    </div>
    
    
    <div class="server_status_list">
        <h1>Server History</h1>
        <h2>History for Server ID: {{ server_id }} - {{server_description}}</h2>
        <h2>Status List</h2>
         <table>
            <tr>
                <th>Date</th>
                <th>Status</th>
            </tr>

            {% for row in data %}
                <tr class="{% if row[1] == 'online' %}online{% elif row[1] == 'offline' %}offline{% elif row[1] == 'Warning' %}warning{% endif %}">
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                </tr>
            {% endfor %}
        </table>
        
    </div> 
    
</body>

</html>
